* {
    margin: 0;
    box-sizing: border-box;
}


.header {
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 392px;margin-left: 3%;
}
.logo img {
    width: 140px;
}
.logo2 {
    display: flex;
    margin-right: 3%;
    justify-content: space-between;
    /* width: 20%; */
    width: 395px;
    align-items: center;

}